<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/app.css" />
    <title>Cinepolis 2</title>
  </head>
  <body>
    <div class="container">
      <div class="img">
        <img src="../static/img/cinepolis3.jpg" />
      </div>
      <form action="/calcular" method="post" class="form">
        <div class="entradas-salidas">
          <fieldset class="entradas">
            <legend>Entradas</legend>
            <label
              >Nombre:
              <input type="text" name="nombre" />
            </label>
            <label
              >Cantidad compradores:
              <input type="number" name="compradores" />
            </label>
            <label
              >Tarjeta CINECO:
              <label> <input type="radio" name="cineco" value="si" />Sí </label>
              <label> <input type="radio" name="cineco" value="no" />No </label>
            </label>
            <label
              >Cantidad de boletas:
              <input type="number" name="boletas" />
            </label>
          </fieldset>
          <fieldset class="salidas">
            <legend>Salidas</legend>
            <label
              >Valor a pagar:
              <input id="total" type="text" name="total" disabled />
            </label>
          </fieldset>
        </div>
        <fieldset class="acciones">
          <legend>Acciones</legend>
          <button type="button" onclick="enviar()">Procesar</button>
        </fieldset>
      </form>
    </div>
    <script>
      const enviar = () => {
        const form = document.querySelector("form");
        const formData = new FormData(form);
        const total = document.querySelector('#total');
        const notificacion = document.querySelector(".notificacion");
        const nTitulo = notificacion.querySelector(".n-titulo");
        const nTexto = notificacion.querySelector(".n-texto");

        fetch("/calcular", {
          method: "POST",
          body: formData,
        })
          .then((data) => data.json())
          .then((e) => {
            notificacion.style.display = "block";
            if (e.limite) {
              nTitulo.textContent = 'Error';
              nTexto.textContent = 'No se pueden comprar más de 7 boletos por persona.';
              total.value = `$0 MXN`;
            } else {
              nTitulo.textContent = ':)';
              nTexto.textContent = `Gracias por tu compra ${e.nombre}`;
              total.value = `$${e.total} MXN`;
            }

            setTimeout(() => {
              notificacion.style.display = "none";
            }, 5000);
          })
          .catch((error) => console.log(error));
      };
    </script>
    <div class="notificacion">
      <div>
        <h2 class="n-titulo">Notificación</h2>
        <hr />
        <p class="n-texto">texto</p>
      </div>
    </div>
  </body>
</html>
