<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traductor Pro+ Ultra</title>
  <link rel="stylesheet" href="../static/css/app.css">
</head>

<body class="h-full bg-gradient-to-tr from-blue-800 to-rose-500 bg-fixed">
  {% block content %}
    
  {% endblock content %}
</body>

</html>
